- hosts: all
  tasks:
      - name: Update all packages on a Ubuntu
        apt:
            update_cache: yes
            upgrade: dist
            
    - name: Install pip3 packages
        apt:
            python3-pip
         
    - name: Transfer the script
        copy: src=app.sh dest=/home/ec2-user mode=0777

    - name: Execute the script
        command: sh /home/ec2-user/app.sh