- hosts: web
  tasks:
      - name: Update all packages on a Ubuntu
        apt:
            update_cache: yes
            upgrade: dist
            
    - name: Install pip3 packages
        apt:
            python3-pip
         
    - name: Transfer the script
        copy: src=test.sh dest=/home/test_user mode=0777

    - name: Execute the script
        command: sh /home/test_user/test.sh